.search-box {
  display: flex;
  position: relative;
  width: 45%;
  height: 50px;
  border-radius: var(--border-10);
  background-color: var(--pallete-white);
  box-shadow: var(--shadow);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;

  &::placeholder {
    color: #bdbecb;
  }

  &:active {
    transform: scale(0.95);
  }

  input {
    font-size: var(--font-body-lg-size);
    padding: 0 20px;
    background: transparent;
    outline: none;
    border: 0;
    flex: 1;
    color: var(--black);
  }
}
