.not-found {
  font-size: var(--font-heading-lg-size);
  display: flex;
  align-items: center;
  position: absolute;
  color: var(--pallete-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canva {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: var(--space-20);
  width: 90dvw;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
.canva::before,
.canva::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10dvh;
  height: 100%;
}

.canva::before {
  left: 0;
  background: linear-gradient(
    to left,
    var(--pallete-dark-blue) 0%,
    var(--black) 100%
  );
}

.canva::after {
  right: 0;
  background: linear-gradient(
    to right,
    var(--pallete-dark-blue) 0%,
    var(--black) 100%
  );
}

.weather-card {
  background: var(--pallete-white);
  border-radius: var(--border-10);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: var(--space-20);
  gap: 0 var(--space-20);
}

.weather-card__header {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: var(--font-heading-title-size);
    margin: 0;
  }

  h2 {
    padding: var(--space-8);
    align-self: center;
    border-radius: var(--border-10);
    color: #fff;
    box-shadow:
      rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.weather-card__today {
  display: flex;
  place-content: center;
  place-items: center;
  gap: var(--space-20);
  flex-basis: 100%;

  p {
    background: var(--pallete-dark-blue);
    color: var(--pallete-white);
    border-radius: var(--border-10);
    display: flex;
    place-items: center;
    padding: 20px;
    gap: var(--space-4);
    box-shadow: var(--shadow);
  }
}

.weather-card__days {
  background: var(--pallete-dark-blue);
  color: var(--pallete-bright-yellow);
  border-radius: var(--border-10);
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  box-shadow: var(--shadow);

  p {
    display: flex;
    place-items: center;
    gap: var(--space-16);
  }
}

.loading {
  background: var(--pallete-white);
  border-radius: var(--border-10);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50dvh;
  gap: var(--space-12);
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: var(--black);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: var(--pallete-bright-blue);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
