@import url("tokens/_colors.css");
@import url("tokens/_spacing.css");
@import url("tokens/_typography.css");

:root {
  font-family: var(--font-elms-sans);
  font-size: var(--font-heading-md-size);

  color: var(--pallete-blue);
  background: var(--pallete-dark-blue);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 0;
}
