:root {
  --pallete-white: #e8edf2;
  --pallete-dark-blue: #2c3947;
  --pallete-blue: #547a95;
  --pallete-yellow: #c2a56d;

  --pallete-bright-blue: #427ab5;
  --pallete-bright-yellow: #f7dd7d;

  --black: #16171d;

  --gray-01: #383e44;
  --gray-02: #6e717d;

  --red-01: #4c0500;
  --red-02: #990a00;
  --red-03: #ff1100;

  --yellow-01: #ffbb00;
  --yellow-02: #ffd666;

  --blue-01: #0f1942;
  --blue-02: #1f3283;
  --blue-03: #3354db;

  --orange-01: #ff7410;
  --orange-02: #ff9e58;

  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}
