:root {
  --font-elms-sans: "Elms Sans", sans-serif;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;

  /* Head */
  --font-heading-weight: 600;

  --font-heading-lg-size: 32px;
  --font-heading-md-size: 24px;
  --font-heading-sm-size: 20px;

  /* Body */
  --font-body-lg-size: 18px;
  --font-body-sm-size: 14px;
}
